<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<link rel="shortcut icon" href="/static/favicon.png" type="image/png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/base_tree.css"/>
<body>
<row class="navbar fixed-top navbar-dark">
    <form class="form-inline">
        <a href="{{ user_info }}" class="shadow btn btn-secondary" role="button" aria-pressed="true" style="height: 38px">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-tree-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
            </svg>
            Родословная
        </a>
        <div class="dropdown" align="left" id="dropdown">
            <a class="shadow btn btn-secondary dropdown-toggle active" style="margin: 5px" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-pressed="true">
                {{ auth_user.first_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ user_info }}">
                    <span class="shadow badge rounded-pill bg-info text-dark">
                        {{ auth_user.first_name }} {{ auth_user.last_name }}
                    </span>
                </a>
                {% if auth_user_trees %}
                    <div class="dropdown-divider"></div>
                {% endif %}
                {% for tree, number in auth_user_trees.items %}
                    <a class="dropdown-item" href="{{ tree.get_absolute_url }}">
                        {% if number %}
                            <span class="shadow badge rounded-circle bg-danger">
                                {{ number }}
                            </span>
                        {% endif %}
                        <span class="shadow badge rounded-pill bg-success text-dark">
                            {{ tree }}
                        </span>
                    </a>
                {% endfor %}
                {% if auth_user_change_trees %}
                    <div class="dropdown-divider"></div>
                    {% for tree, number in auth_user_change_trees.items %}
                        <a class="dropdown-item" href="{{ tree.get_absolute_url }}">
                            {% if number %}
                                <span class="shadow badge rounded-circle bg-danger">
                                    {{ number }}
                                </span>
                            {% endif %}
                            <span class="shadow badge rounded-pill bg-success text-dark">
                                {{ tree }}
                            </span>
                            <span class="badge rounded-pill bg-info text-dark">
                                {{ tree.creator.first_name }} {{ tree.creator.last_name }}
                            </span></a>
                    {% endfor %}
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
            </div>
        </div>
        <a href="{% url 'user_messages' %}" class="shadow btn btn-secondary position-relative" role="button" aria-pressed="true" style="height: 38px">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            </svg>
            {% if number_unread_messages %}
            <span id="number_unread_messages" style="margin-left: 5px" class="shadow position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark">
                {{ number_unread_messages }}
            </span>
            {% endif %}
        </a>
    </form>
    {% if tree %}
        <h3>
            <span class="shadow badge rounded-pill bg-success text-dark">
                {{ tree }}
            </span><span class="badge text-dark">
                и потомки
            </span>
        </h3>
    {% endif %}
    {% if trees_buttons %}
    <div align="center">
        {% for tree in trees_buttons %}
            <h1 class="display-5" style="display: inline-block">
                <a href="{{ tree.get_absolute_url }}">
                    <span class="shadow badge rounded-pill bg-success text-dark" data-toggle="tooltip" title="{{ tree }}">
                        {{ tree.get_short_name }}
                    </span>
                </a>
            </h1>
        {% endfor %}
    </div>
    {% endif %}
    <form class="form-inline" action="{% url 'search_result' %}" method="get">
        <input name="search_form" class="shadow form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="shadow btn btn-secondary my-2 my-sm-0" type="submit">Найти</button>
    </form>
</row>
<script>
        var suc = '<svg width="1.75em" height="1.75em" viewBox="-1 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg>';
        var inf = '<svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/><path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/></svg>';
        var dng = suc;
        let icon = {
            "alert-success": suc,
            "alert-info": inf,
            "alert-danger": dng,
        };

</script>
{% if messages %}
{% for message in messages %}
<div class="container-fluid shadow">
    <div id="alert" class="alert {{ message.tags }} alert-message d-flex p-0" role="alert"
         style="margin-bottom: 15px;border-radius:25px;">
        <div class="alert-icon d-flex justify-content-center align-items-center flex-grow-0 flex-shrink-0"
             style="border-radius:25px 0 0 25px">
            <script>
                document.write(icon['{{ message.tags }}']);

            </script>
        </div>
        <div class="d-flex align-items-center py-2 px-3">
            {{ message }}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="exit" aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}
{% endif %}
{% block content %}
<div class="container_tree shadow">
    <div class="col" align="right" style="position: static">
        <a class="text-decoration-none button_white" type="button" data-toggle="modal" data-target="#ModalReference"
           style="margin: 0; height: 35px">
            <svg data-toggle="tooltip" title="Справка" xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em"
                 fill="#343a40" class="bi bi-question"
                 viewBox="3 2 12 12">
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>
        </a>

        <div class="modal fade" id="ModalReference" tabindex="-1" role="dialog"
             aria-labelledby="ModalReferenceCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius: 20px">
                    <div class="modal-header">
                        <h3 class="modal-title" id="ModalReferenceLongTitle">
                            Деревья
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p align="left" class="lead">
                            Перед Вами генеалогическое дерево.
                            Корень дерева <span class="shadow badge rounded-pill bg-primary text-dark">{{ tree_root }}</span>,
                            самый
                            старший из указанных Вами предков, находится сверху.
                            Дерево по мере заполнения информации разростается вниз от старшего к младшему.
                            <br><br>
                            Чтобы
                            <mark>добавить информацию</mark>
                            о каком-либо родственнике или узнать подробности о нём, нажмите на соответствующую ячейку и
                            укажите его родителей или детей. Добавление или редактирование информации о человеке
                            распространиться на все деревья, в которых есть этот человек.
                        </p>
                        <div class="tree" align="center">
                            <ul>
                                <li>
                                    <div class="block_tree">
                                        <div class="a_tree">
                                            <a class="shadow without_image" href="{{ tree_root.get_absolute_url }}">
                                                {{ tree_root }}
                                            </a>
                                        </div>
                                    </div>
                            </ul>
                        </div>
                        <br><br><br><br>
                        <p align="left" class="lead">
                            Название дерева
                            <span class="shadow badge rounded-pill bg-success text-dark">{{ tree }}</span><span class="badge text-dark">и потомки</span>
                            меняется, когда Вы указываете родителей самого старшего
                            <br>на данный момент предка.
                            <br><br>
                            С помощью кнопки
                            <a href="" class="text-decoration-none button_white ref"
                               data-toggle="modal" data-target="#RelationshipsModal" style="height: 35px; margin-right: 7px">
                                <svg title="Родственные отношения" data-toggle="tooltip" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                     fill="#343a40"  class="bi bi-arrows-angle-contract" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                                </svg>
                            </a>
                            можно посмотреть
                            <mark>кем один человек приходится другому</mark>
                            в рамках одного дерева.
                            <br><br>
                            Кнопка
                            <a href="{{ journal_tree }}" class="text-decoration-none button_white ref"
                               style="height: 35px">
                                <svg title="Список допущенных" data-toggle="tooltip" width="1.75em" height="1.75em"
                                     viewBox="0 0 16 16"
                                     class="bi bi-journal" fill="#343a40" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                </svg>
                            </a>
                            позволяет
                            <mark>перейти к списку пользователей</mark>
                            , которых Вы допустили к просмотру и редактированию дерева. <br> Там же Вы можете добавить
                            или удалить их.
                            <br><br>
                            Кнопкой
                            <a class="button_red" type="button" data-toggle="modal" data-target="#exampleModalCenter"
                               style="width:56px; height: 35px">
                                <svg data-toggle="tooltip" title="Удаление дерева" width="1.5em" height="1.75m"
                                     viewBox="-0.5 2 16 16"
                                     class="bi bi-people" fill="#343a40" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                </svg><svg width="1em" height="1.1em" viewBox="2 4 14 14" class="bi bi-x" fill="#343a40"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </a>
                            можно
                            <mark>удалить дерево</mark>
                            и всё его содержимое. Информация о людях, которые есть только в этом дереве, тоже будут удалена.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <a href="" class="text-decoration-none button_white"
           data-toggle="modal" data-target="#RelationshipsModal" style="height: 35px; margin-right: 7px">
            <svg title="Родственные отношения" data-toggle="tooltip" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                 fill="#343a40"  class="bi bi-arrows-angle-contract" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
            </svg>
        </a>

        <div class="modal fade" id="RelationshipsModal" tabindex="-1" role="dialog"
             aria-labelledby="RelationshipsModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="border-radius: 20px;">
                    <div class="modal-header">
                        <h3 class="modal-title" id="RelationshipsModalLongTitle">
                            Родственные отношения
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 15px 0">
                            <div class="col">
                                <input list="people" type="text" required class="form-control" id="first_human" name="first_human"
                                       placeholder="Кто">
                            </div>
                            <div class="col">
                                <input list="people" type="text" required class="form-control" id="second_human" name="last_human"
                                       placeholder="Для кого">
                            </div>
                            <datalist id="people">
                                {% for human in tree.humans.all %}
                                <option>
                                    {{ human.first_name }} {{ human.last_name }}
                                </option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div style="text-align: center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" fill="currentColor"
                                 class="bi bi-chevron-double-down"
                                 viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd"
                                      d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <h3 class="display-4" id="who_is_who_name"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="{{ journal_tree }}" class="text-decoration-none button_white" style="height: 35px">
            <svg title="Список допущенных" data-toggle="tooltip" width="1.75em" height="1.75em" viewBox="0 0 16 16"
                 fill="#343a40" class="bi bi-journal" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg>
        </a>
        <a class="button_red" type="button" data-toggle="modal" data-target="#exampleModalCenter"
           style="width:56px; height: 35px">
            <svg data-toggle="tooltip" title="Удаление дерева" width="1.75em" height="1.75m" viewBox="0 0 16 16"
                 class="bi bi-people" fill="#343a40" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
            </svg><svg width="1.1em" height="1.1em" viewBox="4 2 14 14" class="bi bi-x" fill="#343a40"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="border-radius: 20px;">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">
                            Удаление дерева
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p align="left">
                            Вы точно хотите удалить дерево <span
                                class="shadow badge rounded-pill bg-success">{{ tree }}</span> и всю информацию о людях в
                            нём?
                            <br>
                            Люди, которые есть только в этом дереве, будут удалены.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="shadow btn btn-danger text-decoration-none" href="{{ delete_tree }}"
                           style="width: 100px; border-radius: 15px;">
                            Да
                        </a>
                        <button type="button" class="shadow btn btn-secondary" data-dismiss="modal"
                                style="width: 100px; border-radius: 15px;">
                            Нет
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tree" align="center" style=
            "width: 100%;
            overflow: auto;
            padding-bottom: 50px;" id="tree">
        {{ human_tree }}
    </div>
</div>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>
    $('body').tooltip({selector: '[data-toggle="tooltip"]'});
    $(".alert-message").alert();
    window.setTimeout(function() { $(".alert-message").alert('close'); }, 4000);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function request() {
            $.ajax({
                data: { first_human: $('#first_human').val(), second_human: $('#second_human').val() },
                url: "/related_relationships/{{ tree.slug }}/",
                success: function (data) {
                    if (data.first_human == true) {
                        $('#first_human').removeClass('is-invalid').addClass('is-valid');
                    }
                    else {
                        $('#first_human').removeClass('is-valid').addClass('is-invalid');
                    };
                    if (data.second_human == true) {
                        $('#second_human').removeClass('is-invalid').addClass('is-valid');
                    }
                    else {
                        $('#second_human').removeClass('is-valid').addClass('is-invalid');
                    };
                    document.getElementById('who_is_who_name').textContent = data.who_is_who;
                }
            });
            return false;
        };
        $('#first_human').keyup(request);
        $('#second_human').keyup(request);
    });
</script>
</body>
</html>