
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Авторизация | Родословная</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
body {
    padding-top: 80px;
    background-color: #648C85;
}
.container {
    background-color: #f9f6f999;
    border-radius: 25px;
    padding: 20px;
    width:450px;
}
.alert {
    margin-bottom: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    width: 75%;
}
</style>
<body>
<h1 align="center" class="display-1">Добро пожаловать</h1>
<br>
<p align="center" class="lead">Здесь Вы сможете составить свое генеалогическое дерево, но сначала скажите кто Вы:</p>
<br>
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0" style="width:600px;">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="padding: 5px; margin: 10px auto">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.2rem 0.75rem;
        color: inherit;">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
<br>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Логин</label>
            <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="id_password">Пароль</label>
            <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Пароль">
        </div>
        <!--        <div class="form-check">-->
        <!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
        <!--        </div>-->
        <div class="col" align="center">
            <br>
            <button type="submit" class="btn btn-primary">Войти</button>
            <a class="btn btn-primary btn-lg" type="button" href="{% url "social:begin" "vk-oauth2" %}">
            <svg style="width:20px;height:20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="logo_vk_36"><g fill="none" fill-rule="evenodd"><path d="M0 0h36v36H0z"></path><path d="M35.174 9.422c.25-.82 0-1.422-1.191-1.422h-3.939c-1 0-1.463.52-1.713 1.094 0 0-2.003 4.795-4.84 7.91-.918.901-1.335 1.188-1.836 1.188-.25 0-.613-.287-.613-1.106V9.422c0-.984-.29-1.422-1.125-1.422h-6.189c-.626 0-1.002.457-1.002.89 0 .932 1.419 1.147 1.565 3.77v5.696c0 1.25-.23 1.476-.73 1.476-1.336 0-4.583-4.817-6.51-10.328C6.674 8.433 6.295 8 5.29 8H1.35C.225 8 0 8.52 0 9.094c0 1.025 1.335 6.107 6.217 12.828C9.471 26.512 14.057 29 18.229 29c2.504 0 2.813-.553 2.813-1.505v-3.469c0-1.105.238-1.326 1.03-1.326.584 0 1.586.287 3.922 2.5 2.67 2.623 3.111 3.8 4.613 3.8h3.939c1.125 0 1.687-.553 1.363-1.643-.355-1.087-1.63-2.664-3.322-4.534-.918-1.065-2.295-2.213-2.712-2.786-.584-.738-.417-1.066 0-1.722 0 0 4.798-6.639 5.299-8.893z" fill="currentColor"></path></g></svg>
            </a>
            <a href="{% url 'signup' %}" type="button" class="btn btn-success">Зарегестрироваться</a>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $(".alert-message").alert();
window.setTimeout(function() { $(".alert-message").alert('close'); }, 4000);
</script>
</body>